spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:tc:postgresql:16:///testdb?TC_TMPFS=/testtmpfs:rw
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  flyway:
    enabled: false

logging:
  level:
    root: INFO
    online.sevika.tm: DEBUG
